/* Use this "https://rawgit.com/NotAtomicBomb/CssSkins/master/Skins/GoogleDrive.css" or click raw and copy all of it */

/* Use this "https://rawgit.com/NotAtomicBomb/CssSkins/master/Skins/GoogleDrive.css" or click raw and copy all of it */

.gb_be {
    background-color: #19191b;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
    color: #ece6e6;
}

.gb_Xa svg, .gb_oc svg {
    color: #ece6e6;
}

.gb_7e {
    background-color: #383838;
    color: #ece6e6;
}

.gb_Pe.gb_6e .gb_7e {
    color: white;
}

.gb_Pe button {
    background-color: #383838;
}

.gb_lf .gb_kf {
    background-color: #383838;
}

.gb_Td.gb_4d .gb_Qd .gb_Pe {
    background-color: #383838;
}

.gb_Pe.gb_6e {
    background: #383838;
}

.a-D-B-x {
    border-bottom: solid 2px #8d2036;
    background-color: #19191b;
}

.a-nEbBXb .h-R-w-d.a-l-S-Pc-w-d {
    color: rgb(113, 111, 112);
}

.a-nEbBXb .a-l-S-Pc-w-d .a-w-d-aa-zd svg {
    fill: rgb(93, 92, 93);
}

.a-nEbBXb .a-d-c svg {
    fill: rgb(93, 92, 93);
}

body {
    background: #19191b;
}

.a-s-tb-Kg {
    background-color: #19191b;
    color: rgb(93, 92, 93);
}

.a-nEbBXb .a-U-ye-ha>.a-U-J>.a-U-J-x, .a-nEbBXb .a-U-ye-ha>.a-U-J.a-U-J-Wc-uh>.a-U-J-x {
    color: rgb(63, 125, 228);
}

.a-nEbBXb .a-U-J-x {
    color: rgb(113, 111, 112)
;
}

.a-nEbBXb .a-U-ye-ha>.a-U-J .a-U-Ze svg, .a-nEbBXb .a-U-xc-J .a-Ng-c-wk svg, .a-nEbBXb .a-U-J .a-U-Ze svg {
    fill: rgb(167, 162, 155);
}

.a-nEbBXb .a-da-Mf-B-ji-j {
    background-color: #19191b;
}

.a-nEbBXb .xd-ij {
    color: rgb(167, 162, 155);
}

.a-nEbBXb .a-D-B-gc-WErN3d .a-D-B-Lc-j {
    background-color: #19191b;
}

.Kzazxf.x6jRSb:not(.VuWATc) {
    background: #781f31;
}


